* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: azure;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(19, 75, 91);
  color: white;
  padding: 10px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  width: 100px;
  height: 50px;
  margin-left: 70px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration-line: underline;
  text-decoration-color: beige;
}

.reg button {
  background-color: white;
  color: black;
  border: 0.8px solid white;
  border-radius: 10px;
  padding: 3px 6px;
}

.reg img {
  height: 12px;
  float: left;
}

.reg a {
  color: black;
  font-size: 13px;
  text-decoration: none;
}

h1 {
  color: black;
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
}

hr {
  margin-left: 46%;
  margin-right: 46%;
  align-items: center;
  border: 3px solid rgba(45, 138, 119, 0.71);
}

form {
  background-color: rgb(19, 75, 91);
  border-radius: 10px;
  color: white;
  height: 37%;
  width: 22%;
}

label {
  margin-right: 190px;
  font-size: 25px;
}

.in {
  height: 30px;
  width: 230px;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 30px;
  margin-right: 60px;
}

.but {
  background-color: white;
  color: rgb(19, 75, 91);
  border: 2px solid white;
  border-radius: 10px;
  padding: 7px 9px;
  margin-left: 8px;
  font-size: 20px;
}

.but:hover {
  background-color: white;
  color: olivedrab;
  border: 2px solid white;
}